/* Remove margens e padding globais */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}
* {
    box-sizing: border-box; /* Para evitar problemas de dimensões */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
